<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>newFeednew</id>
      <username>karthikeyan14june</username>
      <password>iwupqn7g3giel3ibgbxp2s24cbf3ruyrgd3cfkx3wpzojhy6yl2q</password>
    </server>
  </servers>
</settings>